<section class="content-header">
    <h3 style="margin-top: 0">
        {{lang.general_info}}
    </h3>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-lg-12 connectedSortable">
            <form class="form-horizontal" name="infoForm" id="infoForm">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{lang.personal_infor}}</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{lang.name}}</label>
                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.HoTen.Ho}} {{basicInfo.HoTen.ChuLot}} {{basicInfo.HoTen.Ten}}</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{lang.sex}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.GioiTinh}}</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="datemask" class="col-sm-2 control-label">{{lang.day_of_birth}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.NgaySinh}}</h4>
                            </div>

                            <div class="col-sm-1"></div>

                            <label for="" class="col-sm-2 control-label">{{lang.national}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.QuocTich}}</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="placeOfBirth" class="col-sm-2 control-label">{{lang.place_of_birth}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.NoiSinh.ThanhPho}} {{basicInfo.NoiSinh.QuocGia}}</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">{{lang.address}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.DiaChi.SoNha}} {{basicInfo.DiaChi.ThanhPho}} {{basicInfo.DiaChi.QuocGia}}</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">{{lang.phone_number}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.SoDienThoai}}</h4>
                            </div>

                            <div class="col-sm-1"></div>

                            <label for="email" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.Email}}</h4>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{lang.protector_infor}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">{{lang.name}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.NguoiGiamHo.HoTen.Ho}} {{basicInfo.NguoiGiamHo.HoTen.ChuLot}} {{basicInfo.NguoiGiamHo.HoTen.Ten}}</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">{{lang.relationship}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.NguoiGiamHo.QuanHe}}</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">{{lang.address}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.NguoiGiamHo.DiaChi.SoNha}} {{basicInfo.NguoiGiamHo.DiaChi.ThanhPho}} {{basicInfo.NguoiGiamHo.DiaChi.QuocGia}}</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="parentPhone" class="col-sm-2 control-label">{{lang.phone_number}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.NguoiGiamHo.SoDienThoai}}</h4>
                            </div>

                            <div class="col-sm-1"></div>

                            <label for="parentEmail" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{basicInfo.NguoiGiamHo.Email}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Preview {{lang.school_report}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="file" class="col-sm-3 control-label">{{lang.original}}</label>

                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary preview" data-toggle="modal" data-target="#previewFile" ng-click="changeFile(1)" ng-if="profile.HocBa.FileUrl != ''">Preview</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="file" class="col-sm-3 control-label">{{lang.school_report_ver_Eng}}</label>

                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary preview" data-toggle="modal" data-target="#previewFile" ng-click="changeFile(2)" ng-if="profile.HocBa.FileEngUrl != ''">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. box -->
                <!-- box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{lang.school_infor}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="datemask" class="col-sm-2 control-label">{{lang.school_name}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{profile.HocBa.ThongTinTruong.TenTruong}}</h4>
                            </div>

                            <label for="" class="col-sm-2 control-label">{{lang.graduation_year}}  </label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{profile.HocBa.ThongTinTruong.NamTotNghiep}}</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">{{lang.address}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{profile.HocBa.ThongTinTruong.DiaChi.SoNha}} {{profile.HocBa.ThongTinTruong.DiaChi.ThanhPho}} {{profile.HocBa.ThongTinTruong.DiaChi.QuocGia}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. box	 -->
                <!-- box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{lang.class_10}}:</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div>
                                <label for="address" class="col-sm-3 control-label">{{lang.learning_capacity}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.HocBa.KetQua.Lop10.HocLuc}}</h4>
                                </div>
                                <label for="address" class="col-sm-3 control-label">{{lang.conduct}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.HocBa.KetQua.Lop10.HanhKiem}}</h4>
                                </div>
                                <label for="address" class="col-sm-3 control-label">{{lang.math_score}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.HocBa.KetQua.Lop10.DiemToan}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{lang.class_11}}:</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div>
                                <label for="address" class="col-sm-3 control-label">{{lang.learning_capacity}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.HocBa.KetQua.Lop11.HocLuc}}</h4>
                                </div>
                                <label for="address" class="col-sm-3 control-label">{{lang.conduct}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.HocBa.KetQua.Lop11.HanhKiem}}</h4>
                                </div>
                                <label for="address" class="col-sm-3 control-label">{{lang.math_score}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.HocBa.KetQua.Lop11.DiemToan}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{lang.class_12}}:</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div>
                                <label for="address" class="col-sm-3 control-label">{{lang.learning_capacity}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.HocBa.KetQua.Lop12.HocLuc}}</h4>
                                </div>
                                <label for="address" class="col-sm-3 control-label">{{lang.conduct}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.HocBa.KetQua.Lop12.HanhKiem}}</h4>
                                </div>
                                <label for="address" class="col-sm-3 control-label">{{lang.math_score}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.HocBa.KetQua.Lop12.DiemToan}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Preview {{lang.certificate_graduation}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="file" class="col-sm-3 control-label">{{lang.original}}</label>

                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary preview" data-toggle="modal" data-target="#previewFile" ng-click="changeFile(3)" ng-if="profile.BangTotNghiep.FileUrl != ''">Preview</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="file" class="col-sm-3 control-label">{{lang.school_report_ver_Eng}}</label>

                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary preview" data-toggle="modal" data-target="#previewFile" ng-click="changeFile(4)" ng-if="profile.BangTotNghiep.FileEngUrl != ''">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-header">
                        <h3 class="box-title">{{lang.certificate_infor}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="datemask" class="col-sm-2 control-label">{{lang.date_certificate}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{profile.BangTotNghiep.NgayCapBang}}</h4>
                            </div>
                            <label for="" class="col-sm-2 control-label">{{lang.classification}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{profile.BangTotNghiep.XepLoai}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Preview {{lang.english_degree}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="file" class="col-sm-3 control-label">{{lang.original}}</label>

                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary preview" data-toggle="modal" data-target="#previewFile" ng-click="changeFile(5)" ng-if="profile.BangTiengAnh.FileUrl != ''">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-header">
                        <h3 class="box-title">{{lang.degree_infor}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="datemask" class="col-sm-2 control-label">{{lang.degree_kind}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{profile.BangTiengAnh.LoaiBang}}</h4>
                            </div>
                            <label for="" class="col-sm-2 control-label">{{lang.test_day}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{profile.BangTiengAnh.NgayThi}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{lang.result}} {{lang.english_degree}}:</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div>
                                <label for="address" class="col-sm-3 control-label">{{lang.listen}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.BangTiengAnh.Diem.Nghe}}</h4>
                                </div>
                                <label for="address" class="col-sm-3 control-label">{{lang.speak}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.BangTiengAnh.Diem.Noi}}</h4>
                                </div>
                                <label for="address" class="col-sm-3 control-label">{{lang.read}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.BangTiengAnh.Diem.Doc}}</h4>
                                </div>
                                <label for="address" class="col-sm-3 control-label">{{lang.write}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.BangTiengAnh.Diem.Viet}}</h4>
                                </div>
                                <label for="address" class="col-sm-3 control-label">{{lang.total}}:</label>
                                <div class="col-sm-3">
                                    <h4 class="control-label">{{profile.BangTiengAnh.Diem.DiemTong}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Preview {{lang.passport}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="file" class="col-sm-3 control-label">{{lang.original}}</label>

                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary preview" data-toggle="modal" data-target="#previewFile" ng-click="changeFile(6)" ng-if="profile.HoChieu.FileUrl != ''">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-header">
                        <h3 class="box-title">{{lang.passport_infor}}:</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="address" class="col-sm-3 control-label">{{lang.passport_id}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{profile.HoChieu.SoHoChieu}}</h4>
                            </div>
                            <label for="address" class="col-sm-3 control-label">{{lang.issued_day}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{profile.HoChieu.NgayCap}}</h4>
                            </div>
                            <label for="address" class="col-sm-3 control-label">{{lang.expired_day}}</label>

                            <div class="col-sm-3">
                                <h4 class="control-label">{{profile.HoChieu.NgayHetHan}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Preview {{lang.passport_img}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="file" class="col-sm-3 control-label">{{lang.passport_img}}</label>

                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary preview" data-toggle="modal" data-target="#previewFile" ng-click="changeFile(11)" ng-if="profile.HinhHoChieu.FileUrl != ''">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Preview {{lang.account_signature}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="file" class="col-sm-3 control-label">{{lang.signature}}</label>

                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary preview" data-toggle="modal" data-target="#previewFile" ng-click="changeFile(12)" ng-if="profile.ChuKy.NguoiDangKy != ''">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Preview {{lang.protector_signature}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="file" class="col-sm-3 control-label">{{lang.signature}}</label>

                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary preview" data-toggle="modal" data-target="#previewFile" ng-click="changeFile(13)" ng-if="profile.ChuKy.NguoiGiamHo != ''">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <!-- Modal preview files -->
    <div class="modal fade" id="previewFile" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Preview</h4>
                </div>
                <div class="modal-body">
                    <div id="profile1" ng-show="file == 1" ng-class="{ 'form-hidden': file != 1 }"></div>
                    <div id="profile2" ng-show="file == 2" ng-class="{ 'form-hidden': file != 2 }"></div>
                    <div id="profile3" ng-show="file == 3" ng-class="{ 'form-hidden': file != 3 }"></div>
                    <div id="profile4" ng-show="file == 4" ng-class="{ 'form-hidden': file != 4 }"></div>
                    <div id="profile5" ng-show="file == 5" ng-class="{ 'form-hidden': file != 5 }"></div>
                    <div id="profile6" ng-show="file == 6" ng-class="{ 'form-hidden': file != 6 }"></div>
                    <div id="profile11" ng-show="file == 11" ng-class="{ 'form-hidden': file != 11 }"></div>
                    <div id="profile12" ng-show="file == 12" ng-class="{ 'form-hidden': file != 12}"></div>
                    <div id="profile13" ng-show="file == 13" ng-class="{ 'form-hidden': file != 13 }"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function() {
        $(".numeric").numeric({
            decimal: ".",
            negative: false,
            precision: 3,
            scale: 1
        });
        setTimeout(function() {
            $(".select2").select2();
        }, 700);
    });
</script>