<section class="content-header">
    <h1>
        {{lang.new_service}}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-8 connectedSortable">
            <!-- New -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{lang.service_menu}}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="new-table" class="table table-bordered table-striped" data-page-length="10">
                        <thead>
                            <tr>
                                <th>{{lang.category}}</th>
                                <th>{{lang.description}}</th>
                                <th class="text-center">{{lang.register}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="service0">I20 - High school</td>
                                <td>{{lang.des_i20highschool}}</td>
                                <td class="text-center">
                                    <!-- <button type="button" class="btn btn-xs btn-primary" ng-click="createService(0)"><i class="fa fa-edit"></i></button> -->{{lang.not_support}}</td>
                            </tr>
                            <tr>
                                <td id="service1">I20 - College</td>
                                <td>{{lang.des_i20college}}</td>
                                <td class="text-center"><button type="button" class="btn btn-xs btn-primary" ng-click="createService(1)"><i class="fa fa-edit"></i></button></td>
                            </tr>
                            <tr>
                                <td id="service2">Visa - B</td>
                                <td>{{lang.des_visaB}}</td>
                                <td class="text-center">
                                    <!-- <button type="button" class="btn btn-xs btn-primary" ng-click="createService(2)"><i class="fa fa-edit"></i></button> -->{{lang.not_support}}</td>
                            </tr>
                            <tr>
                                <td id="service3">Visa-F</td>
                                <td>{{lang.des_visaF}}</td>
                                <td class="text-center">
                                    <!-- <button type="button" class="btn btn-xs btn-primary" ng-click="createService(3)"><i class="fa fa-edit"></i></button> -->{{lang.not_support}}</td>
                            </tr>
                            <tr>
                                <td id="service4">Accommodation</td>
                                <td>{{lang.des_accommodation}}</td>
                                <td class="text-center">
                                    <!-- <button type="button" class="btn btn-xs btn-primary" ng-click="createService(4)"><i class="fa fa-edit"></i></button> -->{{lang.not_support}}</td>
                            </tr>
                            <tr>
                                <td id="service5">Pick-up</td>
                                <td>{{lang.des_pickup}}</td>
                                <td class="text-center">
                                    <!-- <button type="button" class="btn btn-xs btn-primary" ng-click="createService(5)"><i class="fa fa-edit"></i></button> -->{{lang.not_support}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /New -->
        </section>
        <!-- /Left col -->
        <!-- Right col -->
        <section class="col-lg-4 connectedSortable">

        </section>
        <!-- /Right col -->
    </div>
</section>